* {
  transform-origin: inherit ;
}

body {
  background: black;
  margin: 30px;
  font-family: "Open Sans";
}

div {
  position: relative;
}

h1, h2, h3, h4, p { 
  color: #ddd;
  font-family: "Raleway";

}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: black;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  background-color: black;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

p { 
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans";
}

hr { 
  position: absolute;
  z-index: -1;
  width: 90%;
  border: none;
  border-bottom: 1px solid #AAA;
  top: 10px;
  left: 5%;
}

.italics {
  padding-top: 20px;
  font-style: italic;
}

.summary { 
  padding: 20px 50px 0px 50px;
}